#search, #plus, #account{
    display: block;
    margin-bottom: 10px;
    height: 40px
}

#search{
    width: 100px;
    color: #31A8A9;
    font-weight: bolder;
    background-color: white;
    border: 1.5px solid #31A8A9;
    border-radius: 10px;
}

#plus{
    width: 40px;
    color: white;
    background-color: #00D1B2;
    border:solid #00D1B2;
    border-radius: 50%;
    
}

#account{
    color: white;
    background-color: #2B78E4;
    width: 150px;
    border: 2px solid #000;
    box-shadow: 5px 5px black;
}